<footer>
    <div class="cloud-container">
        <span class="cloud-icon" role="img" aria-label="Cloud">☁️</span>
        <div class="cloud-text">
            <h4 class="cloud-heading">Accumulus Cloud Active</h4>
            <p>Testing animated components, scalable responsive vectors, and unified design schemes.</p>
        </div>
    </div>
    <p>Built cleanly by <a href="https://gitrich-del.github.io/itis3135/siebenlistenterprises.com/" target="_blank">Siebenlist Enterprises</a> ©2026</p>
    <nav>
        <a href="../index.html">Main Portfolio Home</a> |
        <a href="https://github.com/GitRich-del" target="_blank">GitHub Profile</a> |
        <a href="https://www.linkedin.com/in/richardsiebenlistjr" target="_blank">LinkedIn</a> |
        <a href="https://gitrich-del.github.io/" target="_blank">GitHub Pages</a>
    </nav>
    <p><i><a href="#" target="_blank">🏅 FCC RWD Certification 🏅</a></i></p>
    <div class="validators">
        <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
            <img src="images/button_validation_html5.png" width="88" height="31" alt="Validate webpage HTML.">
        </a>
        <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
            <img src="https://jigsaw.w3.org/css-validator/images/vcss" width="88" height="31" alt="Valid CSS!">
        </a>
    </div>
</footer>
